.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #DC6B2C;
    color: white;
    border-radius: 50px;
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: width 0.3s, background-color 0.3s;
    z-index: 1000;
    overflow: hidden;
  }
  
  .floating-button:hover {
    width: 150px;
    background-color: #b85524;
  }
  
  .button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .button-icon {
    font-family: "Inter", sans-serif !important;
    font-size: 24px;
    transition: transform 0.3s, margin 0.3s;
    margin-right: -71px;
    margin-top: -5px;
    font-size: 35px;

  }
  
  .floating-button:hover .button-icon {
    transform: translateX(-10px);
    margin-right: 10px;
  }
  
  .button-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .floating-button:hover .button-text {
    opacity: 1;
  }
  
  .modal.show {
    display: block;
  }

  .add-task-modal {
    position: fixed;
    width: 100%; 
    left: 35%;
    overflow-y: none; 
  }  

  .modal-content{
    text-align: left;
    max-width: 600px;
    max-height: 600px;
    width: 100%;  
    overflow-x:hidden;
  }
  
  .color-options {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    justify-items: center;
    margin-bottom: 1rem;
  }
  
  .color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
  }
  
  .color-option:hover {
    border-color: #000;
  }
  
  .color-picker-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .form-control-color {
    width: 100%;
    max-width: 80px;
    height: 35px;
    padding: 0;
    margin: 0;
  }

  .form-label{
    font-weight: bold;
  }
.patternDropdownItem{
    font-size: larger;
}
.dropdownBtnAdd{
    background-color:white !important;
    border-color: #CCCCCC !important;
    border-style: solid !important;
    border-radius: 5px !important;
    border-width:0.8px !important ;
    color: black !important;
}
.prerequisiteTaskDropdownItem{
    font-size: larger;
    color: black;
}
.assignedUserDropdownItem{
    font-size: larger;
    color: black;
}
.allowEmailNotifcationsCheckBox{
    font-size: larger;
    color: #000;
}
.allowEmailNotifcationsLabel{
    margin-left: 10px;
}


.submit-btn{
  width: 300px;
}


@media (max-width: 1200px) {
  .modal-content{
      transform: translateX(-20%);
  }
}

@media (max-width: 768px) {
  .modal-content {
      width: 95vw; 
      transform: translateX(-35%);
  }
}

.checkBoxAddBtn{
    width: 17.6px !important;
}
.taskAppearanceColorPicker{
    width: 60px !important;
    height: 30px !important;
    border: none !important;
    border-radius: 0% !important;
    border-width: 0px !important;
    padding: 0px !important;
}

