#gantt-container {
    --color-text: #272a2e;
    --color-primary-dark: #0195e4;
    --color-primary-light: #9ddcff;
    --color-secondary: #4be35a;
    --color-tertiary: #f7f7f7;
    --color-orange: #ef5350;
    --color-outline: #e9eaeb;
    --border-radius: 5px;
    --cell-height: 40px;
    padding: 1rem;
  }

  .gantt-chart-time-range-selector {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    }
    
  .gantt-chart-time-range-selection {
    padding: 6px 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }

  .gantt-chart-sort-selector {
    margin-top: -38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 5px;
  }
  
  .gantt-chart-sort-selection {
    padding: 6px 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .gantt-chart-sort-selection option {
    padding: 8px;
  }
