#gantt-container {
    --color-text: #272a2e;
    --color-primary-dark: #0195e4;
    --color-primary-light: #9ddcff;
    --color-secondary: #4be35a;
    --color-tertiary: #f7f7f7;
    --color-orange: #ef5350;
    --color-outline: #e9eaeb;
    --border-radius: 5px;
    --cell-height: 40px;
    padding: 1rem;
  }

  .gantt-chart-time-range-selector {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: -130px;
    }
    
  .gantt-chart-time-range-selection {
    padding: 6px 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }

  .gantt-chart-sort-selector {
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 5px;
    margin-top: -30px;
  }
  
  .gantt-chart-sort-selection {
    padding: 6px 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .gantt-chart-sort-selection option {
    padding: 8px;
  }



/* General button styles */
.export-pdf-button,
.export-csv-button {
  margin: 0px;
  font-size: 11px;
  background-color: #e08554;
  color: #ffffff;
  border: black;
  border-radius: 3px;
  cursor: pointer;
  padding: 3px 7px;
  font-weight: bold;
  /* margin-right: 98px;
  margin-top: 11px;
  margin-left: 345px; */
  text-wrap: wrap;
 
}

.export-pdf-button:hover,
.export-csv-button:hover {
  background-color: #dc5e1a;
}

/* This class will hide export buttons during export */
.exclude-from-pdf {
  display: none !important;
}



/* To explicitly adjust the vertical position of the buttons */
.export-buttons-container {
  margin-bottom: 100px; /* Add vertical spacing above */
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}
