#editor-wrapper {
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#editor-toolbar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    gap: 10px;
    background-color: #f0f0f0;
}

#editor-toolbar .dropdown {
  position: relative;
  display: inline-block;
}

#editor-toolbar .dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-size: 14px;
  margin-top: 6px;
  width: 106px;
  height: 30px;
  border: 1px solid #ddd;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#editor-toolbar .dropdown-toggle:hover {
  width: 106px;
  height: 30px;
  background-color: #d3d3d3;
}

#editor-toolbar .dropdown-menu {
  position: absolute;
  top: 35px;
  left: 1px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  min-width: 50px;
  padding: 5px 0;
  overflow: hidden;
}

#editor-toolbar .header-item {
  padding: 4px 12px;
  text-align: left;
  background-color: white;
  border: none;
  z-index: 9999;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

#editor-toolbar .header-item:hover {
  background-color: #d3d3d3;
}

#editor-toolbar .header-item.active {
  background-color: #3890e8;
  color: white;
}


.toolbar-btn {
    background: none;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
    min-width: 27px;
    min-height: 20px;
    padding: 1px 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    overflow: visible;
}

.toolbar-btn.active {
    background-color: #3890e8;
    color: white;
    border-color: #3890e8;
}
.toolbar-btn.active:hover {
    background-color: #3890e8;
  }

.toolbar-btn:hover {
  background-color: #d3d3d3;
}

.toolbar-btn:disabled {
  background-color: #f0f0f0;
  cursor: default;
}

.highlight-picker-sidebar {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: 250px;
    height: 130px;
    margin-left: -112px;
    box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 99999;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 5px;
  }
  
.highlight-circle.clickable:hover {
  outline: 2px solid #7AA7B7; 
  outline-offset: 3px; 
}

.highlight-option-sidebar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}
  
.highlight-option-sidebar:hover {
    outline: 2px solid #7AA7B7; 
    outline-offset: 3px; 
  }
  
.no-highlight{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 1;
  }

.no-highlight:hover {
background-color: #d3d3d3;
background-color: #d3d3d3;
}

.highlight-picker-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3 / span 3;
  grid-row: 4;
}
  
.highlight-picker-wrapper .fa-eye-dropper {
    margin-right: 10px;
    font-size: 18px;
    cursor: default;
}
#color-indicator-bar {
    width: 25px;
    height: 5px;
    z-index: 10;
  }

#editor-textbox {
    height: 223px;
 /* Trying to shift editor to be aligned with the the wrapper */
}

.tiptap.ProseMirror{
  overflow-y: auto;
  padding-left: 10px;
  height: 233px;
  transform: translate(0px, -9.5px); /* Trying to shift editor to be aligned with the the wrapper */
}
.tiptap.ProseMirror ul{
  list-style-type: disc;
  text-align: initial;
  list-style-position: outside;
}

.tiptap.ProseMirror ul li{
  display: list-item;
}

/* Addtask.js CSS */
.mb-3 #editor-wrapper #editor-toolbar .toolbar-btn{
  margin-left: -0.25px;
  margin-right: 0.5px;
  padding-right: 1.5px;
}