.task-details-sidebar {
  position: fixed;
  top: 113px;
  right: 0;
  width: 500px;
  height: calc(100vh - 112px); 
  background-color: #fff;
  box-shadow: -2px 5px 2px rgba(0, 0, 0, 0.3); 
  z-index: 9999;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

}

.task-details-header {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.icon-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.task-title-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.task-details-content {
  margin-left: 10px;
  margin-right: 10px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 15px;
  flex-shrink: 0;
  cursor: default;
}

.task-title {
  margin: 0;
  font-size: 30px;
}


.task-details-body {
  flex: 1;
  padding: 10px;
  max-height: 200px;
  border-top: 1px solid #ddd;

}

.description-text{
  margin-left: 10px;
}

.task-details-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
  bottom: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.close, .edit-button, .delete-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  margin-left: 10px;
}

.close {
  color: #333;
}

.edit-button {
  color: #333; 
}

.delete-button {
  color: #333; 
}

.dropdownDetails {
  margin: 10px 0;
  margin-top: -20px;
  flex-shrink: 0;
  padding-bottom: 5px;
}

#todoDropdown {
  margin-left: 20px; 
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#placeHolderDivDetails {
  height: 20px;
}



.color-picker-sidebar {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  width: 250px;
  height: 110px;
  margin-left: 20px;
  box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.3);
  margin-top: 95px;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-top: 5px;
}

.color-circle.clickable:hover {
  outline: 2px solid #7AA7B7; 
  outline-offset: 3px; 
}


/* .color-circle:hover {
  outline: 2px solid #7AA7B7; 
  outline-offset: 3px; 
  cursor: default;
} */

.color-option-sidebar:hover {
  outline: 2px solid #7AA7B7; 
  outline-offset: 3px; 
}



/*#description {
  border-radius: 5px;
  max-height: 100px;
  overflow-y: auto;
  height: 100px;
  padding-bottom: 30px;
  margin-top: 6px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: #737373;
}*/

#title-text {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: -2px;
  margin-left: -6px;
  font-size: 30px; 
  font-weight: 500;
  margin-bottom: -2px;
}

.date-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

#description-title {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
}

#details-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

#details-header {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}

#details-content {
  padding: 10px;
}

#details-content p {
  margin: 5px 0;
}

.details {
  position: relative;
  border: 1px solid lightgrey;
  margin-top: 10px;
  border-radius: 5px;
}

.details-header {
  padding: 5px;
  border-bottom: 1px solid lightgrey;
  text-align: center;
}

.details-body {
  padding: 10px;
}


textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 5px;
  margin: 10px 10px 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select[multiple] {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.done-button {
  position: fixed;
  bottom: 15px;
  right: 22px;
  background-color: #135C91;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: auto;
  cursor: pointer;
  border-radius: 5px;
}

.done-button:hover {
  background-color: #176FAD ;
}

.checkbox-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.checkbox-list div {
  display: flex;
  align-items: center;
}

.checkbox-list input {
  margin-right: 5px;
}

#placeholder-temp {
  height: 10px;
}


.color-circle.clickable {
  cursor: pointer;
}
.patternDropdownItem{
    font-size: larger;;
}
.dropdownBtn{
    background-color:white;
    border-color: lightgrey;
    border-style: groove;
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 5px;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.color-option-sidebar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.color-picker-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3 / span 3;
  grid-row: 3;
}

.color-picker-wrapper .fa-eye-dropper {
  margin-right: 10px;
  font-size: 18px;
  cursor: default;
}

.form-control-color-sidebar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  
}

.form-control-color-sidebar:hover {
  outline: 2px solid #7AA7B7; 
  outline-offset: 3px; 
  
}

.form-control-color-sidebar::-webkit-color-swatch-wrapper {
  padding: 0;
}

.form-control-color-sidebar::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}





.task-detail-field {
  margin-bottom: 14px;
}

.task-detail-field label {
  font-size: 1rem;
}

.task-detail-field input {
  margin-right: 10px;
  margin-left: 0px; /* Adjust this value as needed */
  padding: 8px 12px;
  border-radius: 2px;
  border: 1px solid #7f7c7c;
  width: 100%;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.task-detail-field input:focus {
  border-color: #141414;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.task-detail-field input::placeholder {
  color: #aaa;
}


