#gantt-grid-container__time {
  display: grid;
  overflow-x: scroll;
  overflow-y: hidden;
  outline: 0.5px solid var(--color-outline);
  padding-bottom: 1px;
  scrollbar-color: #888 #FDDC87;
  scrollbar-width: thin;
}

.task-duration {
  position: absolute;
  height: calc(var(--cell-height) / 1.5);
  top: calc(var(--cell-height) / 7);
  z-index: 1;
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  cursor: move;
  resize: vertical;
  border: 1.5px solid black !important;
}

.task-duration:dragging {
  opacity: 0.5;
}

/* Buttons CSS */
.task-buttons {
  display: flex;
  position: absolute;
  right: -50px; 
  top: 2px;
}

.task-edit-button,
.task-delete-button {
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  font-size: 10px;
  cursor: pointer;
}

.task-edit-button:hover,
.task-delete-button:hover {
  background: #fddc87;
}

.task-edit-button,
.task-delete-button {
  width: 2em;
  height: 2em;
  outline: 0.5px solid black;
}

.task-edit-button svg {
  margin-left: -2px;
  margin-top: -2px; 

}

.task-delete-button svg {
  margin-left: -6px;
  margin-top: -1.3px;
}

.non-editable {
  cursor: default;
}

/* Default Light Mode Styles */
.task-tooltip {
  position: absolute;
  top: 15%;
  left: 100%;
  transform: translateX(2px);
  color: black;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  white-space: nowrap;
}

/* Dark Mode Styles */
body.dark .task-tooltip {
  color: white !important;
  background-color: #444 !important; /* Dark background for contrast */
}
