
html.dark {
    /* General CSS */
    /* Text */
    h1, h2, h3, h4, h4, h5, h6, p, a, li, text, span{
        color: #fff;  /* High-contrast white for headers */
        visibility: visible;
    }

    /* Input styles */
    input, textarea {
        background-color:  #666 ; /* Darker background for input fields */
        color: #fff; /* White text */
        border: 1px solid #464646; /* Light border for inputs */
        visibility: visible;
        &:focus{
            background-color: #808080;   
            visibility: visible;   
        }
        &::placeholder{
            color: #d2d2d2; /* Light gray placeholder text */
            visibility: visible;
        }
    }

    /* Dropdown Selector */
    select, option {
        background-color: #424242 ; /* Darker background for input fields */
        color: #fff; /* White text */
        border: 1px solid #464646; /* Light border for inputs */
        visibility: visible; 
        &:hover{
            background-color: #555;
        }
    }
    
    /* General Buttons */
    button, .btn.btn-primary, .btn, .cta-button{
        background-color: #424242  !important;  /* Dark background for buttons */
        color: #fff;  /* Light text */
        transition: ease-in 0.1s;
        visibility: visible;
        &:hover{
          background-color: #555 !important;
        }
      }

    /* Modal CSS*/
    .modal-body, .modal-header, .modal-footer {
        background-color: #2b2b2b;  /* WORK Dark background */
        visibility: visible;
        color: #fff;
    }
    
    /* Navbar */  
    /*Top navbar text buttons */
    #button {
        background-color: transparent !important;  /* WORK (Sign out) Dark background */
        color: #fff !important;  /* Light text */
        visibility: visible;
        &:hover{
            color: #a8a8a8 !important;  /* WORK (Sign out) Slightly lighter on hover */
            visibility: visible;
        }
    }
  
    /* Home Page/Landing Page */
    /* Content Boxes */
    .card-contentbox {
        background-color: #2a2a2a !important; /* Dark background */
        color: #fff !important; /* Light text */
        border-radius: 0 0 9.5px 9.5px; /* Rounded bottom corners */
        padding: 15px; /* Optional: Adds spacing inside */
        visibility: visible;
    }
    
    .footer{
        background-color: #2a2a2a !important;  /* WORK (footer) members background */
        color: #ffffff !important;  /* Light text */
        visibility: visible;
    }
    
    /* Background */
    .landing-page-container{
        background-color: #121212;  /* WORK (footer) members background */
        color: #fff !important;  /* Light text */
        visibility: visible;
    }
    
    
    #navBarDiv{
        background-color: #282828 !important; /* top bar */
        visibility: visible;
    }

    /* Login, Register/Create an Account, Verify Email and Forget Password*/
    
    /* Form Containers */
    div.loginForm.text-center, div.card-header.loginFormHeader, div.forgot-password-card, .registerForm.text-center.mt-1,
    .card-header.registerFormHeader, h1.verify-email-title, div.verify-email-card{
        background-color: #313131;
        visibility: visible;
        color: #FFFFFF;
    }
    
    /* Background Colors  */
    div.loginContainer.mt-5, div.forgot-password-container, .registerContainer, .verify-email-container{ 
        background-color: #000;
        visibility: visible;
    }

    /* Verify Email Specific CSS */
    a.btn-2.btn-link.mt-2{
        background-color: #313131;
        color: #ffa371;
        visibility: visible;
        &:hover{
            background-color: #313131;
            color: #FEB690;
            visibility: visible;
        }
      }
    
      html.dark h1.verify-email-title::before, h1.verify-email-title::after{
        background-color: #FE8F52;
        visibility: visible;
      }
      
      html.dark span.email-style{
        color: #FE8F52;
        visibility: visible;
      }

        
    /* About Us Page*/
    
    .team-member{
        background-color: #313131 !important;  /* WORK members background */
        visibility: visible;
    }
    
    .team-member-reverse{
        background-color: #242424 !important;  /* WORK members background the rest */
        visibility: visible;
    }
    
    .bottomDiv{
        background-color: #313131 !important;  /* WORK members background */
        visibility: visible;
        }
  
    /* To Do List Page */
    /* Table background*/
    .todoTableBody{ 
        background-color: #121212;
        color:rgb(255, 255, 255);
        visibility: visible;
    }

    /*Table scrollbar */
    div.table-responsive-xxl{ 
        scrollbar-color: #1e1e1e #797979 !important; 
    }
    
    /* Button inside the table */
    .taskBtn {
        background-color:  #121212 !important;
        padding: 5px 10px !important; 
        cursor: pointer !important; 
        visibility: visible;
    }

    /* Charts Page */
    /* Chart Cards */
    /* Delete Icon */
    button.projectBtn{ 
        background-color: #545252 !important;
        
    }
    
    /* Transparent background Edit Proect Name */
    button.btn-outline-primary{
        background-color: transparent !important;
    }
    
    /* View Chart Button */
    .btn.viewChartBtn{
        background-color: #3e3e3e !important; /* WORK (View Chart) Dark background */
        color: #ffffff;
        visibility: visible;
        &:hover{
        background-color: #323232 !important;
        visibility: visible;
        }
        
    }

    /*Project Card */
    .card{
        background-color: #545252 !important; /* WORK (chart cards) Dark background */
        border: 6px solid #2d2c2c; /* Wider colored border */
        visibility: visible;
    }

    /* Account Details Page*/
    
    .dashboardAccountContainer {
    background-color: #313131 !important; /* WORK (Account square) Dark background */
    visibility: visible;
    }
    .mainContainer, .container.position-relative.d-inline-flex.flex-column {
    background-color: #121212;
    visibility: visible;
    }
  
    /* UI Settings Page */
    /* Toggle Buttons */
    button.dark-mode-toggle, button.high-contrast-mode-toggle, .protan-toggle, .deuteran-toggle, .tritan-toggle { 
      background-color: #414141 !important;  /* Darker background for toggle button */
      visibility: visible;
    }

    /* Toggle Buttons Hover */
    button.dark-mode-toggle:hover, button.high-contrast-mode-toggle:hover, button.protan-toggle:hover, button.deuteran-toggle:hover, button.tritan-toggle:hover{ 
      background-color: #6d6d6d !important; 
      visibility: visible;
    }

    /* Toggle Button Slider Animation */
    button.dark-mode-toggle.dark .thumb{
        left: calc(50px - 25px);
        visibility: visible;
      }

    .ui-settings-container, .color-preset-container, .ui-preview-container, .font-container {
      background-color: #313131 !important; 
      visibility: visible;
    }
    .settings-container {
      background-color: #121212 !important;
      visibility: visible;
    }
  
  }


  /* Team Dropdown */
  html.dark a#navbarDropdown.nav-link.dropdown-toggle{ /* Team */
    color: #ffffff;
    visibility: visible;
    &:hover{
      color:#a8a8a8 !important; 
    }
  }


  
  html.dark .chart-container {
    background-color: #333;  /* Darker background for charts */
    visibility: visible;
  }
  
  html.dark .chart {
    color: #fff;  /* White for chart text */
    visibility: visible;
  }
  
  /* Table headers */
  html.dark .table thead {
    background-color: #333; /* Dark background for headers */
    color: #fff;
    visibility: visible;
  }
  
  /* Table rows */
  html.dark .table tbody tr {
    background-color: #222; /* Very dark row background */
    visibility: visible;
  }
  
  html.dark .table tbody tr:nth-child(even) {
    visibility: visible;
    background-color: #333; /* Slightly lighter background for even rows */
  }
  
  
  html.dark{
    .highlight-picker-sidebar, .color-picker-sidebar{
      background-color: #313131 !important;
      color: white;
      visibility: visible;
      
    }
  }
  
  /* Task Details */
  
  html.dark div#textbox{ /* add description here... */
    color: #fff;
  }
  
  html.dark button.close {
    background-color: #333;
    color: #fff;
    visibility: visible;
  }
  
  html.dark div.task-details-sidebar.task-details-sidebar{
    background-color: rgb(50, 49, 49);
  }
  
  
  /* Add Task */
  
  
  html.dark div.modal-content{ /* border of modal */
    background-color: #2b2b2b;
    visibility: visible;
  }
  
  html.dark div.tiptap.ProseMirror{
    background-color: #444;
    visibility: visible;
  }
  
  
  html.dark #prerequisiteTasks{ /* NOT WORK*/
    background-color: #353535;
    visibility: visible;
  }
  
  
  html.dark div.dropdown{
    background-color: #2b2b2b;
    visibility: visible;
  }
  
  html.dark button.dropdown-toggle{
    color: #444;
    visibility: visible;
  }
  
  
  
  
  
  html.dark div#editor-toolbar{
    background-color: #2b2b2b;
    button.toolbar-btn{
      background-color: #2b2b2b !important;
      visibility: visible;
      &:hover{
        background-color:#888888  !important;
      }
    }
    .dropdown-toggle{
      background-color: #2b2b2b !important;
      color: white !important;
      border-color: #2b2b2b!important;
      visibility: visible;
      &:hover{
        background-color:#888888  !important;
      }
    }
    .dropdown-menu, .dropdown-menu .header-item{
      background-color:#2b2b2b !important;
      color: white !important;
      visibility: visible;
      
    }
    .header-item:hover{
      background-color:#888888  !important;
    }
  }
  
  
  
  
  html.dark button.toolbar-btn{
    background-color: #4a4a4a;
    visibility: visible;
  }
  
  html.dark button.btn.btn-primary{ /* Add task btn*/
    margin-left: 60px;
    visibility: visible;
  }
  
  html.dark .floating-button{ /* floating add task button */
    background-color: #333 !important;
    visibility: visible;
  }
  
  html.dark h5.modal-title{ /* Add task title*/
    margin-left: 110px;
    visibility: visible;
  }
  
  html.dark textarea#description.form-control{
    margin-left: 2px;
    visibility: visible;
  }
  
  /* Account Details */
  
  html.dark div.d-md-inline-flex.d-block.container.mainContainer.ms-5.me-0.px-0.mt-5.py-0{ /* background*/
    background-color: #121212;
  }
  
  html.dark div.d-md-flex.d-block{ /* background*/
    background-color: #121212;
  }
  
  html.dark span.detailValue, html.dark label.detailLabel {
    color: #fff;
    visibility: visible;
  }
  
  /* Dashboard */
  
  html.dark body{ /* background on edges*/
    background-color: #121212;
  }
  
  html.dark {
    background-color: #121212;
    color: #fff;
    visibility: visible;
  }
  
  html.dark .navbarDash {
    background-color: #282828;
    visibility: visible;
  }
  
  html.dark .navbar {
    background-color: #282828;
    padding: 15px 0px;
    visibility: visible;
  }  
  
  html.dark {
    .dropdown-menu.show,.dropdown-item{ /* drop down items for pre-req tasks */
      visibility: visible;
      background-color: #2b2b2b !important;
      
    }
    .dropdown-item:hover {  
      background-color:#888888  !important;
    }
  }  
  
  html.dark #gantt-grid-container__time {
    display: grid;
    overflow-x: scroll;
    outline: 0.5px solid var(--color-outline);
    padding-bottom: 1px;
    scrollbar-color: #1e1e1e #797979;
    scrollbar-width: thin;
    visibility: visible;
  }
  
  html.dark div.modal-content{
    background-color: #2b2b2b;
    visibility: visible;
  }
  

  
  /* Task Details */
  
  html.dark button#pattern.nav-link.dropdown-toggle.dropdownBtn{ /* Pattern text when Edit mode */
    color: #fff;
    visibility: visible;
  }
  
  html.dark div#textbox{ /* add a descrip background*/
    background-color: #323131;
    visibility: visible;
  }
  
  html.dark .align-items-start{
    background-color: #323131;
    visibility: visible;
  }
  
  html.dark div#description-title{
    background-color: #323131;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    visibility: visible;
  }
  
  html.dark button.close{
    background-color: rgb(50, 49, 49) !important;
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  html.dark button.delete-button{
    background-color: #323131 !important;
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  html.dark button.edit-button{
    background-color: #323131 !important;
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  html.dark button.edit-button:hover{
    background-color: transparent !important;
    visibility: visible;
  }
  
  html.dark div.icon-button-container{
    background-color: rgb(50, 49, 49);
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  html.dark #task-title.task-title{
    background-color: rgb(50, 49, 49);
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  html.dark div.task-title-container{
    background-color: rgb(50, 49, 49);
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  html.dark div.dropdownDetails.flex-fill.mx-1{
    background-color: rgb(50, 49, 49);
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  
  
  html.dark #todoDropdown.nav-link.dropdown-toggle, html.dark .editTaskAppearanceButton, html.dark .done-button, html.dark #ul.assignedUsersDropdownMenu.dropdown-menu.show
  {
    background-color: rgb(84, 83, 83);
    color:rgb(255, 255, 255) !important;
    border-color:#444;
    visibility: visible;
    &:hover{
      background-color: #444;
      border-color:#444;
      color:white;
      visibility: visible;
    }
  }
  
  html.dark .prerequisiteTaskDropdownItem.prerequisiteTaskDropdownItem, html.dark .assignedUserDropdownItem{ /* Text color for dropdown menu items */
    color: white !important;
    visibility: visible;
  }
  
  
  
  html.dark div.d-inline-flex{
    background-color: rgb(50, 49, 49);
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  html.dark #description-title{
    background-color: rgb(50, 49, 49);
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  html.dark #description{
    background-color: rgb(50, 49, 49);
    color:rgb(225, 223, 223);
    visibility: visible;
  }
  
  html.dark div.details-body{
    background-color: rgb(50, 49, 49);
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  
  html.dark div.details-header{
    background-color: rgb(50, 49, 49) !important;
    color:rgb(255, 255, 255) !important;
    visibility: visible;
  }
  
  html.dark{
    #assignedUsers.dropdownBtnAdd.dropdown-toggle, #prerequisiteTasks, button#pattern.dropdownBtnAdd.dropdown-toggle, .taskPatternDropdown{
      background-color: rgb(50, 49, 49) !important;
      color:rgb(255, 255, 255) !important;
      visibility: visible;
      &:hover{
        background-color:#888888  !important;
      }
    }
  }
  
  html.dark{
    .form-check-input:checked{
      background-color: #727171 !important ;
      visibility: visible;
    }
  }
  
  
  
  html.dark div.task-details-footer{
    background-color: rgb(50, 49, 49);
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  html.dark div.task-details-header{
    background-color: rgb(50, 49, 49);
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  html.dark div.task-details-body{
    background-color: rgb(50, 49, 49);
    color:rgb(255, 255, 255);
    visibility: visible;
  }
  
  /* Time table */
  
  html.dark div#gantt-container{
    background-color: #121212;
  }
  
  
  html.dark .task-duration { /* border around task bars*/
    border: 1.2px solid rgb(203, 203, 203) !important; 
    visibility: visible;
  }
  
  /* WORK (TimeTable Inside) Default dark mode for all task divs */
  html.dark [data-task] {
    background-color: #212121 !important; /* Dark background */
    color: #fff !important; /* Light text */
    outline: 0.5px solid #666 !important; /* Darker outline */
    visibility: visible;
  }
  
  /* Default Light Mode Styles */
  html.dark .task-tooltip {
    position: absolute;
    top: 15%;
    left: 100%;
    transform: translateX(2px);
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 12px;
    visibility: visible;
  
  }
  
  html.dark{
    button.export-csv-button, button.export-pdf-button, .editTaskAppearanceButton, .done-button, button.btn.btn-primary{ /* CSV+PDF export */
      background-color: #414141 !important;
      visibility: visible;
      color: white;
      &:hover{
        background-color: #6d6d6d !important;
        visibility: visible;
      } 
    }
  } 
  
  /* Category */
  
  html.dark .gantt-task-row .task-category {
    font-size: 10px; /* Larger, more readable text */
    color: #ffffff; /* Clean, white text for contrast */
    position: absolute; /* Absolute positioning within the task row */
    bottom: 10px; /* Positioned towards the bottom */
    right: 6px; /* Spacing from the right edge */
    background: linear-gradient(135deg, #414446, #54575a); /* Gradient background for modern look */
    padding: 1px 5px; /* More generous padding for readability */
    border-radius: 50px; /* More rounded corners for a sleek look */
    font-weight: 600; /* Bold font for importance */
    text-transform: capitalize; /* Ensure the text is in a clean, consistent case */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Subtle shadow for a floating effect */
    z-index: 1; /* Makes sure the tag is on top */
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Smooth transition effects */
    border: 0.7px solid transparent; /* Invisible border initially for a clean look */
    visibility: visible;
  }
  

  

  /* Dashboard sidebar + topbar */
  /* Background Ribbon colors */
  html.dark div.d-none.d-md-table-cell.container-lg.navBarBody, html.dark div.d-md-none.navBarBodySmall.mb-5{
    background-color: #2f2f2f !important;  /*  (NAV BAR ON SIDE) Dark background */
    visibility: visible;
  }
