body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.dropdown-section {
    position: relative;
    display: inline-block;
    width: 75%;
}

.dropdown-content {
    width: 100%;
    display: none;
    z-index: 1;
    position: absolute;
    min-width: 25px;
    padding: 10px;
    width: "100%";
    height: fit-content;
}

.dropdown-section:hover .dropdown-content {
    display: block;
}

.topDiv {
    background-color: #DC6B2C;
    color: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 20px;
}

.bottomDiv {
    background-color: #f8cd62;
    padding: 25px 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.team-member{
    display: flex;
    height: 200px;
    background-color: #FDDC87;
}

.team-member-alt {
    display: flex;
    height: 200px;
    background-color: #ffefc5;
}

.member-info {
    padding-left: 50px;
    height: fit-content;
    margin-top: 2em;
    margin-left: 2em;
}

.team-member img, .team-member-alt img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-member .member-info, .team-member-alt .member-info {
    max-width: 600px;
}

.team-image {
    width: 150px;
    height: 150px;
    margin-top: 1em;
    margin-left: 2em;
}

.team-member .member-info {
    max-width: 600px;
}

.team-member h2 {
    margin: 0;
}