body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.card{
    width: 400px;
    height: 400px;
    border: none;
    background-color: #FDDC87;
}
.invisibleCard{
    width: 400px;
    height: 400px;
    border: none;
    background-color: #FDDC87;
    visibility: hidden;
}
.card-body{
    float:bottom !important;
}
.card-img-top{
    height: 40%;
}
