body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
    min-height: min-content;
    float:top;
}
.title{
    margin-left:40px;
    margin-top:-60px;
    color: black;
}
.todo-toolbar{
    position: relative;
    display: flex;
    justify-content: flex;
    width: 100vw;
    gap: 50px;
}
.searchForm{
    margin-left:5%;
    width: 500px !important;
}

.table {
    margin-left: 40px;
    width: 70vw;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Resizing table */
@media (max-width: 1400px) {
    .table {
        width: 60vw;
        transform: translateX(-5%)
    }
  }
  
  @media (max-width: 768px) {
    .table{
        max-width: 100vw; 
        transform: translateX(0%)
    }
  }


/* Used to give scroll to table body only */
table tbody {
    display: block;
    height: 425px;
    overflow-y: scroll;
    scrollbar-width: thin;
}
    table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    }

/* Text wrapping */
tr, td {
    white-space: normal;
    text-align: center;
    overflow-wrap: break-word;
}


  th.todoTableBody{ 
    background-color: #DC6B2C;
    border-color:#DC6B2C;
    color:rgb(255, 255, 255);
    visibility: visible;
    &:first-child{
        border-top-left-radius: 10px;
    }
    &:last-child{
        border-top-right-radius: 10px;
    }
}   

tr:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.cell{
    vertical-align:middle;
}
.hidden{
    border: none;
    visibility: hidden;
}

.taskBtn {
    margin-right: 50px;
    width: 33px; 
    height: 33px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: none;
    color: white;
    background-color: #DC6B2C;

    &:hover{
        transition: background-color ease-in 0.1s;
        background-color: #f08b4f;
    }
}
.modalSubTitle{
    float:bottom;
}
.contactInfoDiv{
    padding:10px;
    background-color:#FDDC87 ;
    border-radius: 10px;
}
.contactName{
    margin-top: 0;
    margin-left: 20px;
}
.contactBody{
    margin-top: 0;
    margin-left: 40px;
}
.todoTableBody{
    background-color: white;
    color:black;
}

tr.task-row.show{
    border-bottom: none;
    border-color: transparent;
}

.progress-btn{
    display: flex;
    justify-items: auto;
    margin-top: 20px;
    width: 225px;
}

.details-row{
    text-align: left;
}

/* Reformatting lists inside table data cell to move vertically */
td ul {
    text-align: left;
    display: block;
}

td li {
    display: block;
    color: black;
    pointer-events: none;
    &:hover{
        color: black;
    }
}