.title{
  font:bold;
  margin-top: 0px;
  margin-bottom:20px;
  color: black;
}

.dashboardAccountContainer {
    width: 38vw;
    min-width: 350px;
    margin: 0px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: ease-in 3s ease;
    margin-left: 20vw;
  }

  @media (max-width: 1280px) {
    .dashboardAccountContainer {
        width: 50vw; 
        margin-left: 10vw;
    }
  }
  
  @media (max-width: 768px) {
    .dashboardAccountContainer {
        width: 60vw; 
        margin-left: -5vw;
    }
  }
  
  .dashboardTitle {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    color: #000;
  }

  .dashboardTitle::before, .dashboardTitle::after {
    content: '';
    position: relative;
    top: 50%;
    width: 80px;
    height: 2px;
    background: #DC6B2C;
  }
  
  .dashboardTitle::before {
    left: 0px;
  }
  
  .dashboardTitle::after {
    right: 0px;
  }
  
  .accountDetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .detailItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }
  
  .detailLabel {
    font-weight: bold;
    color: #555;
    flex: 1;
    text-align: left;
  }
  
  .detailValue {
    color: #333;
    text-align: left;
    flex: 2;
    padding-left: 140px;
  }

  .detailIcon {
    flex: 1;
    text-align: right;
    cursor: pointer;
  }
  
  .accountActions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .deleteBtn {
    background-color: #dc3545;
    &:hover {
      background-color: #b52d3a;
      color: white;
    }
  }

  .editBtn,
  .saveBtn {
    background-color: #007bff;
    &:hover {
      background-color: #0056b3;
      color: white;
  }
  }
  .editInput {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    box-sizing: border-box;
  }
  
  .resetPasswordBtn {
    background-color: #ffc107;
    &:hover{
      background-color: #e0a800;
      color: white;
    }
  }

  .editSelect {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    appearance: none;
  }

  .editSelect:focus {
    border-color: #007bff; 
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }


  .password-modal {
    top: 0;
    margin-top: -125px;
    position: absolute;
    height: 90vh;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .modal-content button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #dc6b2c;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background: #f08b4f;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }