body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;

}
.navBarBody {
    background-color: #DC6B2C;
    min-height: 1000px !important;
    min-width: 150px;
    max-width:11% !important;
    float:left;
    text-align: left;
    padding-bottom: 100% !important;
}

.navBtn {
    justify-content: left;
    background-color: white !important;
    color: white !important;
    text-align: left !important;
    max-width: 95%;
    width: 95%;
    min-width: 90px !important;
    min-height:min-content;
    height: min-content;
    max-height:min-content;
    margin-top:20px;
    cursor:pointer;
}
.navBtn:hover, .navBtnSmall:hover{
    background-color: #F0F0F0  !important;
}
.topNavBtn{
    margin-top: 30px !important;
}
.navBtnText{
    color:black;
    font-size: 16px;
    text-align: left !important;
}
.message{
    color: red;
}
.navBarBodySmall{
    background-color: #DC6B2C;
    height:100px !important;
    width: 100%;
    float:left;
    margin-bottom: 50px;
}

.navBtnSmall{
    text-align: start;
    margin-top: 10px;
    background-color: white !important;
    height: 45px;
    width: 50px;
}
.navBtnTextSmall{
    color:black;
    min-width:min-content;
    width:max-content;
    font-size: 10px;
}

.modal-content{
    transition: ease-in 0.1s;
}

.modal-backdrop {
    filter: none !important;  
    pointer-events: none;    
  }

  .modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.5); 
  }

@media (max-width: 1400px) {
    .modal-content{
        transform: translateX(-8%)
    }
}
@media(max-width: 768px){
    .modal-content{
        transform: translateX(20%)
    }
}

