body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.title{
    font:bold;
    margin-top:-60px;
    color: black;
}
.searchForm{
    margin-left:40px;
    max-width: 400px;
    min-width: 200px;
}
.cardRow{
    margin-left:40px;
}
.mainContainer{
    min-width: 100% !important;
}
.cardCol{
    max-width: fit-content;
}
.chartNavButton{
    border-radius: 5px;
    width: 100px;
    height: 50px;
}
.hiddenButton{
   visibility: hidden;
}
.refreshBtn{
    margin:40px;
    width:100px;
}
.inlineForm{
    display:inline;
}
.card{
    width: 300px;
    height: 300px;
    border: 5px;
    border-color:  #DC6B2C;
    border-style:solid;
    background-color:#FDDC87;
}
.card-xxl{
    width: 400px;
    height: 400px;
    border: 5px;
    border-color:  #DC6B2C;
    border-style:solid;
    background-color:#FDDC87;
}
.invisibleCard{
    width: 300px;
    height: 300px;
    border: none;
    background-color: #FDDC87;
    visibility: hidden;
}
.card-body{
    float:bottom !important;

}
.card-img-top{
    height: 40%;
}
.projectBtn{
    color:none;
    background-color: none;
    background: none;
    border:none;
    margin:0px;
}
.viewChartBtn{
    font-size: smaller;
    width: max-content;
    padding-inline: 10px;
}
.viewChartBtn-xxl{
    font-size: smaller;
    width: max-content;
    padding-inline: 10px;
}
.btnIcon{
    width:2em;
    height:2em;
}
.btnLabel{
    font: bold 12px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    padding:0;
}
.projectIcon{
    width:100%;
    height:100%;
}
.deleteModalBtn{
    padding:10px;
    width:30%;
}   



.btn-outline-primary {
    background: transparent;
    border: none;
    font-size: 20px; /* Adjust size as needed */
    cursor: pointer;
    color: #000; /* Black color for the pencil */
    padding: 0;
    margin-left: 10px;
    transition: transform 0.3s ease; /* Add animation for hover effect */
  }

  .btn-outline-primary:hover {
    transform: scale(1.2); /* Slightly enlarge the pencil on hover */
  }

  .btn-close:hover,
  .btn-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  
  
