body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
    min-height: min-content;
    float:top;
}
.title{
    margin-left:40px;
    margin-top:-60px;
    color: black;
}
.searchForm{
    margin-left:5%;
    max-width: 20%;
    min-width: 10%;
}
.table-responsive-xxl{
    scrollbar-color: #888 #FDDC87;
    scrollbar-width: thin;
}
.table{
    margin-top: 40px;
    margin-left: 40px;
    width: 68vw;
}

/* Resizing table */
@media (max-width: 1400px) {
    .table {
        width: 60vw;
        transform: translateX(-5%)
    }
  }
  
  @media (max-width: 768px) {
    .table{
        max-width: 10vw; 
        transform: translateX(-5%)
    }
  }

  th.todoTableBody{ 
    background-color: #DC6B2C;
    border-color:#DC6B2C    ;
    color:rgb(255, 255, 255);
    visibility: visible;

}

.tr{
    line-height: 100px !important;
    min-height: 100px !important; 
    height: 100px !important; 
}
.cell{
    vertical-align:middle;
}
.hidden{
    border: none;
    visibility: hidden;
}

.taskBtn {
    width: 33px; 
    height: 33px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: none;
    color: white;
    background-color: #DC6B2C;

    &:hover{
        transition: background-color ease-in 0.1s;
        background-color: #f08b4f;
    }
}
.modalSubTitle{
    float:bottom;
}
.contactInfoDiv{
    padding:10px;
    background-color:#FDDC87 ;
    border-radius: 10px;
}
.contactName{
    margin-top: 0;
    margin-left: 20px;
}
.contactBody{
    margin-top: 0;
    margin-left: 40px;
}
.todoTableBody{
    background-color: white;
    color:black;
}
