.forgot-password-container {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: -155px;
  
}

.forgot-password-card {
  background: #FFEFD5;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  border: none;
  height: fit-content;
}

.forgot-password-title {
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  color: #000;
}

.forgot-password-title::before, .forgot-password-title::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 148px;
  height: 2px;
  background: #DC6B2C;
}

.forgot-password-title::before {
  left: -164px;
}

.forgot-password-title::after {
  right: -164px;
}

.forgot-password-description {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #5e5c5c;
}

.form-group {
  margin-bottom: 1rem;
}

.forgot-password-input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.forgot-password-button {
  background-color: #135C91;
  color: white;
  text-align: center;
  padding:15px 30px;
  border-radius: 5px;
  border:none;
}

.forgot-password-button:hover {
  background-color: #E78252;
  color: #000;
}

.forgot-password-back-link {
  display: block;
  margin-top: 1rem;
  color: #E78252;
  text-decoration: none;
}

.forgot-password-back-link:hover {
  text-decoration: underline;
}

.email-style {
  color: #DC6B2C;
  font-weight: bold;
}

.timer-style {
  color: #DC6B2C;
  font-weight: bold;
}

.background-tile-repeat {
  background-image: url("../Images/assets/backgrounds/Fade_Tilable_Background.svg");
  background-repeat: repeat;
}