
.base{
    background-color: #FDDC87;
    color: black;
}
.navbar{
    width: 100%;
    height: 9%;
    max-height: 76px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDDC87;
    padding : 15px 0px;
    position: fixed;
    z-index: 99999;
    float: top;
}
.navbarDash{
    width: 100%;
    height: 9%;
    max-height: 76px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDDC87;
    padding : 15px 0px;
    position: relative;
    z-index: 99999  ;
}

.logo{
    width: 160px;
    padding: 0px 50px;
    margin-top: -20px;
}

#button{
    cursor: pointer;
    border : none;
    background-color: #FDDC87;
    font-size: 20px;
}

#button:hover{
    color: #DC6B2C;
}

ul{
    flex: 1;
    list-style: none;
    text-align: right;
    
}

ul li{
    display : inline-block;
    margin : 10px 20px;
    font-size: 18px;
    cursor: pointer;
    &:hover{
        color: #DC6B2C;
    }
}





.layout-3 .base {
    background-color: #FDDC87;
    color: black;
}

.layout-3 .navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDDC87;
    padding: 15px 0px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.layout-3 .navbarDash {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDDC87;
    padding: 15px 0px;

    top: 0;
    z-index: 99999;
}

.layout-3 .logo {
    width: 175px;
    padding: 0px 50px;
}

.layout-3 #button {
    cursor: pointer;
    border: none;
    background-color: #FDDC87;
    font-size: 18px;
}

.layout-3 ul {
    flex: 1;
    list-style: none;
    text-align: right;
}

.layout-3 ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.layout-3 #placeHolderDiv {
    flex-shrink: 0;
    margin-bottom: 150px;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .closeEmailModal {
    outline: none;
    border: none;
    background: none;
    color: #000; 
    font-size: 1.5rem; 
    cursor: pointer;
  }

  .navbarHeader{
    margin-top: -13px;
  }

  .navbarOptionsDash {
    margin-top: 8px;
  }

  .navbarOptions {
    margin-top: -5px;
  }

  .logoDash{
    width: 160px;
    padding: 0px 50px;
    margin-top: -5px;
}

.navbarHeaderDash{
    margin-top: 3px;
}

.navbarOptionsView{
    margin-top: 8px;
}

.dashBoardButtons{
    font-size: 20px !important;
    margin-right:15px;
    margin-left:-10px;
}

.modal-footer{
    .btn.btn-secondary {
        width: 200px;
    }
    justify-content: center;
}

.modal-title{
    margin-left: 0px !important;
}

.info-icon {
    margin-left: 10px;
    color: #DC6B2C; 
    cursor: pointer;
}

.info-icon:hover {
    color: #0056b3; 
}
