
.base{
    background-color: #FDDC87;
    color: black;
}
.navbar{
    width: 100%;
    height: 9%;
    max-height: 76px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDDC87;
    padding : 15px 0px;
    position: fixed;
    z-index: 99999  ;
}
.navbarDash{
    width: 100%;
    height: 9%;
    max-height: 76px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDDC87;
    padding : 15px 0px;
    position: relative;
    z-index: 99999  ;
    float: top;
}

.logo{
    width: 160px;
    padding: 0px 50px;
    margin-top: -20px;
}

#button{
    cursor: pointer;
    border : none;
    background-color: #FDDC87;
    font-size: 20px;
}

#button:hover{
    color: #DC6B2C;
}

ul{
    flex: 1;
    list-style: none;
    text-align: right;
    
}

ul li{
    display : inline-block;
    margin : 10px 20px;
    font-size: 18px;
    cursor: pointer;
    
}





.layout-3 .base {
    background-color: #FDDC87;
    color: black;
}

.layout-3 .navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDDC87;
    padding: 15px 0px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.layout-3 .navbarDash {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDDC87;
    padding: 15px 0px;

    top: 0;
    z-index: 99999;
}

.layout-3 .logo {
    width: 175px;
    padding: 0px 50px;
}

.layout-3 #button {
    cursor: pointer;
    border: none;
    background-color: #FDDC87;
    font-size: 18px;
}

.layout-3 ul {
    flex: 1;
    list-style: none;
    text-align: right;
}

.layout-3 ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.layout-3 #placeHolderDiv {
    flex-shrink: 0;
    margin-bottom: 150px;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .closeEmailModal {
    outline: none;
    border: none;
    background: none;
    color: #000; 
    font-size: 1.5rem; 
    cursor: pointer;
  }

  .navbarHeader{
    margin-top: -13px;
  }

  .navbarOptionsDash {
    margin-top: 8px;
  }

  .navbarOptions {
    margin-top: -5px;
  }

  .logoDash{
    width: 160px;
    padding: 0px 50px;
    margin-top: -5px;
}

.navbarHeaderDash{
    margin-top: 3px;
}

.navbarOptionsView{
    margin-top: 8px;
}

.dashBoardButtons{
    font-size: 20px !important;
    margin-right:15px;
    margin-left:-10px;
}

.modal-footer{
    .btn {
        width: 500px;
    }
}




/* Dark Mode Toggle Button */
button.dark-mode-toggle {
    background-color: #DC6B2C; /* Make the background transparent */
    color: #ffffff; /* Default text color (for light mode) */
    padding: 3px 9px;
    margin-top: -1%;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for color changes */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove the outline on focus */
  }
  
 /* Dark Mode Toggle Button */
button.dark-mode-toggle:hover {
    background-color: #b3704c; /* Make the background transparent */
    color: #ffffff; /* Default text color (for light mode) */
    
  }
  

/* High Contrast Mode Toggle Button */
button.high-contrast-mode-toggle {
    background-color: #ea6e2b; /* Make the background transparent */
    color: #ffffff; /* Default text color (for light mode) */
    padding: 3px 9px;
    margin-top: -1%;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for color changes */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove the outline on focus */
  }
  
 /* High Contrast Mode Toggle Button */
button.high-contrast-mode-toggle:hover {
    background-color: #cf7c4f; /* Make the background transparent */
    color: #ffffff; /* Default text color (for light mode) */
    
  }



