.invite-link-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 100%;
    display: inline-block;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    text-align: center;
  }
  
  .invite-link-container h3 {
    margin-bottom: 10px;
  }
  
  .invite-link-container a {
    color: #007bff;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

  .link-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    max-width: 100%;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .link-box p{
    margin: 0;
  }
  
  .invite-link-container button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .invite-link-container button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
  }

  /* .link{
    overflow: hidden;
  }
   */