body {
    overflow-y: auto !important;
}

.reset-password-container {
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reset-password-form {
    background: #FFEFD5;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    /* text-align: center; */
    margin-top: -20px;
}

.reset-password-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
    color: #000;
}

.reset-password-title::before, .reset-password-title::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 150px;
    height: 2px;
    background: #DC6B2C;
}

.reset-password-title::before {
    left: -167px;
}

.reset-password-title::after {
    right: -167px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    box-sizing: border-box;
    width: 60%;
    padding: 0.75rem;
    background-color: #135C91;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

.btn:hover {
    background-color: #E78252;
}

.btn-link {
    width: 60%;
    display: block;
    text-align: center;
    margin: 0 auto;
   color: #DC6B2C;
   text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
    color: #DC6B2C;
}

#floatingPassword {
    margin-bottom: 10px;
}

.indicate_valid_container {
    display: inline-flex;
    font-size: 1em;
    margin-bottom: -5px;
  }