.title{
    font:bold;
    color: black;
}


.settings-container {
    width: 90vw;
    margin: 0 auto; 
}

/* Resizing options */
@media (max-width: 1200px) {
    .settings-container{
        transform: translateX(-10%);
        width: 83vw; 
    }
}

@media (max-width: 768px) {
    .settings-container {
        width: 95vw; 
        transform: translateX(-5%);
    }
    .title{
        margin-top: -60px;
    }
}

.color-preset-container, .ui-preview-container, .font-container{
    width: 80%;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5vw;
    margin-left: 5vw;
}

.default-colorbar, .cvd-toolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.default-colorbar span, .cvd-toolbar span{
    position: relative;
    padding-right: 25px;
    top: -10px;
    flex-wrap: wrap;
}
.settings-container h1, h2{
    margin-bottom: 40px;
}

.normal-text {
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    text-align: center;   
}

.normal-text a{
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(13,110,253) !important;
}

/* holds cvd flter preview images */
.img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin: 20px auto;
    height: auto;
  }
  
.dashboard-preview,
.timetable-preview {
    max-width: 100%;
    max-height: auto; 
}

.font-container{
    gap: 100px;
}
.font-selector{
    width: 300px;
    height: 50px;
    gap: 100px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    text-align: left;
    transition: background-color 0.3s ease;
}
.font-selector:hover{
    background-color: #f0f0f0;
}

.font-selector option {
    background-color: white; 
}
.font-selector option:hover {
    background-color: #ea6e2b; 
}

/* Toggle Buttons */
button.dark-mode-toggle, button.high-contrast-mode-toggle, .protan-toggle, .deuteran-toggle, .tritan-toggle  {
    background-color: #DC6B2C ;  /* Darker background for toggle button */
    color: #fff !important;  /* Light text for button */
    border: 1px solid #000000 !important;
    border-radius: 99px !important;
    width: 50px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    margin-top: -20px !important;
    margin-left: 3px !important;
    margin-right: 10px !important;
    padding: 3px 6px !important;
    position: relative;
  
    /* Slider CSS */
    .thumb{
      height: 20px;
      width: 20px;
      background-color: #fff;
      border-radius: 99px;
      transform: translateX(0);
      transition: left 0.3s ease;
      position: absolute;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
    }
  
    &:hover{
      background-color: #b3704c; /* Brighter background for hover */
      color: #fff !important; /* White text */
      border: 1px solid #262626 !important;
    }
  }
  
  /* Slider animation for CVD Filters */
  .protan-toggle.active .thumb, .deuteran-toggle.active .thumb, .tritan-toggle.active .thumb {
    left: calc(50px - 25px);
  }
  