@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('styles/darkmode.css');
@import url('styles/highcontrast.css');

body {
  margin: 0;
  font-family: "Inter", sans-serif; 
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variation-settings:
    "slnt" 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
  background-color: white !important;
}

code {
  font-family: 'Inter',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

@font-face {
  font-family: "Opendyslexic";
  font-size: 0.8em;
  src: url("./fonts/opendyslexic/OpenDyslexic-Custom-Reduced-Regular.woff") format("woff");
}


/* Ensure no flash of white/light mode */
html {
  background-color: #ffffff; /* Default dark background */
  color: white; /* Default text color */
}

html.no-flash {
  visibility: hidden;
  opacity: 0;
}
.no-flash {
  visibility: hidden;
}
