@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('styles/darkmode.css');

body {
  margin: 0;
  font-family: "Inter", sans-serif; 
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variation-settings:
    "slnt" 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

code {
  font-family: 'Inter',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

@font-face {
  font-family: "Opendyslexic";
  font-size: 0.8em;
  src: url("./fonts/opendyslexic/OpenDyslexic-Custom-Reduced-Regular.woff") format("woff");
}





/* Ensure no flash of white/light mode */
html {
  background-color: #ffffff; /* Default dark background */
  color: white; /* Default text color */
}

html.no-flash {
  visibility: hidden;
  opacity: 0;
}


.no-flash {
  visibility: hidden;
}









/* Light Mode */


/* Reset Password */




/* Account Details*/

button.btn.resetPasswordBtn:hover{
  visibility: visible;
  background-color: #523F00;
  color: #FFFFFF;
}

button.btn.editBtn:hover{
  visibility: visible;
  background-color: #004A99;
  color: #FFFFFF;
}

button.btn.deleteBtn:hover{
  visibility: visible;
  background-color: #810E1F;
  color: #FFFFFF;
}

button.btn.saveBtn:hover{
  visibility: visible;
  background-color: #004A99;
  color: #FFFFFF;
}

/* Home */
.footer.footer{
  margin-bottom: -25px;
}

div.navbar{
  padding-top: 9px;
}

/* Modals */

#changeProjectModalLabel{ /* Change Project Name text*/
  margin-left: 55px;
}

button.btn.btn-primary{ /* Submit button */
  margin-left: 65px;
}

#createProjectModalLabel{ /* create a project text*/
  margin-left: 85px;
}

button.btn.deleteModalBtn{
  margin-right: 115px;
  padding: 12px;
}

div.modal-content{ /* Are u sure u want to delete */
  margin-left: 20px;
}


/* Tme Table */

.task-duration { /*task bar border*/
  border: 1.5px solid black !important; /* Change color as needed */
}















/* DEFAULT MODE */
/* Toggle Buttons */
button.dark-mode-toggle, button.high-contrast-mode-toggle, .protan-toggle, .deuteran-toggle, .tritan-toggle  {
  background-color: #DC6B2C ;  /* Darker background for toggle button */
  color: #fff !important;  /* Light text for button */
  border: 1px solid #000000 !important;
  border-radius: 99px !important;
  width: 50px;
  height: 28px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  margin-top: -20px !important;
  margin-left: 3px !important;
  margin-right: 10px !important;
  padding: 3px 6px !important;
  position: relative;

}

/* Slider CSS */
button.dark-mode-toggle, button.high-contrast-mode-toggle, .protan-toggle, .deuteran-toggle, .tritan-toggle{
  .thumb{
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.3s ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
  }

}


/* Button Hover CSS */
button.dark-mode-toggle:hover, button.high-contrast-mode-toggle:hover, button.protan-toggle:hover, button.deuteran-toggle:hover, button.tritan-toggle:hover {
  background-color: #b3704c; /* Brighter background for hover */
  color: #fff !important; /* White text */
  border: 1px solid #262626 !important;
}

.protan-toggle, .deuteran-toggle, .tritan-toggle  {
background-color: #DC6B2C ;  /* Darker background for toggle button */
color: #fff !important;  /* Light text for button */
border: 1px solid #000000 !important;
border-radius: 99px !important;
width: 50px;
height: 28px;
transition: background-color 0.1s ease, border-color 0.2s ease;
margin-top: -20px !important;
margin-left: 3px !important;
margin-right: 10px !important;
padding: 3px 6px !important;
position: relative;

}
.protan-toggle.active .thumb,
.deuteran-toggle.active .thumb,
.tritan-toggle.active .thumb {
left: calc(50px - 25px);
}





/*HIGH CONTRAST MODE */
/* Toggle Buttons */
html.high-contrast {
  button.dark-mode-toggle, button.high-contrast-mode-toggle, .protan-toggle, .deuteran-toggle, .tritan-toggle {
    background-color: #8a3700;  /* Darker background for toggle button */
    visibility: visible;
  }  
}

/* Button Hover CSS */
html.high-contrast 
{
  button.dark-mode-toggle:hover, button.high-contrast-mode-toggle:hover, button.protan-toggle:hover, button.deuteran-toggle:hover, button.tritan-toggle:hover {
    background-color: #b75927; /* Brighter background for hover */
    visibility: visible;
  }
}


/* Slider Animation to show that high contrast mode is on */
html.high-contrast button.high-contrast-mode-toggle.high-contrast .thumb{
  left: calc(50px - 25px);
  visibility: visible;
}

/*About Us*/

html.high-contrast .topDiv {
  background-color: #fff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 20px;
  visibility: visible;
}

html.high-contrast .bottomDiv {
  background-color: #f3b35b;
  padding: 25px 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  visibility: visible;
  
}

html.high-contrast .team-member-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background-color: #F0A53D; /*(8.15)*/
  visibility: visible;
}

html.high-contrast .team-member{
  visibility: visible;
  background-color: #f3b35b !important;  /* WORK members background */
}

html.high-contrast h2{
  visibility: visible;
  color: #000;
}

/* Account Details */

html.high-contrast .dashboardAccountContainer{
  visibility: visible;
  background-color: #f3b35b !important; /*  (Account square) Dark background */
}

html.high-contrast span.detailValue{
  visibility: visible;
  color: #000000 !important; /*  (right side account info) Dark background */
}

html.high-contrast label.detailLabel{
  visibility: visible;
  color: #000000 !important; /*  (left side account info) Dark background */
}

html.high-contrast h1.dashboardTitle{
  visibility: visible;
  color: #000000 !important; /* Account Info text */
}

html.high-contrast h1.dashboardTitle::after{
  visibility: visible;
  background-color: #471D00 !important; /* Account Info text */
}

html.high-contrast h1.dashboardTitle::before{
  visibility: visible;
  background-color: #471D00 !important; /* Account Info text */
}

html.high-contrast button.btn.resetPasswordBtn{
  visibility: visible;
  background-color: #523F00;
  color: #FFFFFF;
}

html.high-contrast button.btn.resetPasswordBtn:hover {
  background-color: #6a5200; /* Lighter brown */
  visibility: visible;
}

html.high-contrast button.btn.editBtn{
  visibility: visible;
  background-color: #004A99;
  color: #FFFFFF;
}

html.high-contrast button.btn.editBtn:hover {
  background-color: #1a63b8;
  visibility: visible;
}

html.high-contrast button.btn.deleteBtn{
  visibility: visible;
  background-color: #810E1F;
  color: #FFFFFF;
}

html.high-contrast button.btn.deleteBtn:hover {
  background-color: #a32030;
  visibility: visible;
}

html.high-contrast button.btn.saveBtn{
  visibility: visible;
  background-color: #004A99;
  color: #FFFFFF;
}

html.high-contrast button.btn.saveBtn:hover{
  visibility: visible;
  background-color: #1a63b8;
  color: #fff;
}



/* UI Settings */

html.high-contrast .color-preset-container, html.high-contrast .ui-preview-container, html.high-contrast .font-container {
  background-color: #f3b35b !important;
  visibility: visible;
}

html.high-contrast {
  .color-preset-container, .ui-preview-container, .font-container {
    background-color: #f3b35b !important;
    visibility: visible;
  }
}

/* Add Task */


html.high-contrast h5.modal-title{ /* Add a Task title*/
  margin-left: 110px;
  visibility: visible;
}


html.high-contrast button.btn.btn-primary{ /*Add task button */
  margin-left: 65px;
  visibility: visible;
}

html.high-contrast .floating-button{ /* floating add task button */
  background-color: #813400;
  visibility: visible;
}

html.high-contrast div.modal-body{
  background-color: #fff;
  visibility: visible;
}

html.high-contrast button.btn.btn-primary{
  background-color: #002238 !important;
  visibility: visible;
  &:hover{
    background-color: #1a4a75  !important;
    visibility: visible;
  }
}

html.high-contrast h5.modal-title{
  background-color: #ffffff;
  color: #000;
  visibility: visible;
}

html.high-contrast div.modal-header{
  background-color: #ffffff;
  visibility: visible;
}

html.high-contrast textarea#description.form-control{
  background-color: #FFFFFF;
  margin-left: 2px;
  visibility: visible;
}

html.high-contrast span.button-icon{ /* + */
  color: #FFFFFF;
  visibility: visible;
}


html.hign-contrast button.btn-close.align-content-center{
  background-color: #fff !important ;
}

html.hign-contrast button.btn-close.align-content-center:hover{
  background-color: #fff !important ;
}


/* Task Details */

html.high-contrast button.close{ /* X button */
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast button.delete-button{ /* trash icon */
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast button.edit-button{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast div.icon-button-container{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast #task-title.task-title{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast div.task-title-container{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast div.dropdownDetails.flex-fill.mx-1{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast button#pattern.nav-link.dropdown-toggle.dropdownBtn{ /* pattern */
  background-color: #dfdfdf;
  visibility: visible;
}


html.high-contrast div.d-inline-flex{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast #description-title{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast #description{
  background-color: #ffffff;
  color:#272727;
  visibility: visible;
}

html.high-contrast div.details-body{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast div.details-header{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast div.task-details-footer{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast div.task-details-header{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast div.task-details-body{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  visibility: visible;
}


html.high-contrast{
  #assignedUsers.dropdownBtnAdd.dropdown-toggle, #prerequisiteTasks, button#pattern.dropdownBtnAdd.dropdown-toggle, .taskPatternDropdown, #todoDropdown.nav-link.dropdown-toggle{
    background-color: #002238 !important;
    visibility: visible;
    color: white !important;
    &:hover{
      background-color: #6d6d6d !important;
      visibility: visible;
    } 
  }
  .form-check-input:checked{
    background-color: #727171 !important ;
    visibility: visible;
  }
  
}



/* Category */

html.high-contrast .gantt-task-row .task-category {
  visibility: visible;
  font-size: 10px; /* Larger, more readable text */
  color: #ffffff; /* Clean, white text for contrast */
  position: absolute; /* Absolute positioning within the task row */
  bottom: 10px; /* Positioned towards the bottom */
  right: 6px; /* Spacing from the right edge */
  background: linear-gradient(135deg, #494F50, #3A3F40); /* Gradient background for modern look */
  padding: 1px 5px; /* More generous padding for readability */
  border-radius: 50px; /* More rounded corners for a sleek look */
  font-weight: 600; /* Bold font for importance */
  text-transform: capitalize; /* Ensure the text is in a clean, consistent case */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Subtle shadow for a floating effect */
  z-index: 1; /* Makes sure the tag is on top */
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Smooth transition effects */
  border: 0.7px solid transparent; /* Invisible border initially for a clean look */
}


/* Create Account */

html.high-contrast .registerForm.text-center.mt-1{
  visibility: visible;
  background-color: #f3b35b  !important;  /* (9.83) (Create an Account box) members background */
  color: #000000 !important;  /* Light text */
}

html.high-contrast .card-header.registerFormHeader{
  visibility: visible;
  background-color: #f3b35b  !important;  /*  (9.83) (Create an Account around it) members background */
  color: #000000 !important;  /* Light text */
}

html.high-contrast .registerContainer{
  visibility: visible;
  background-color: #fff !important;  /* (bottom and top) members background */
}

html.high-contrast .btn.submitButton{
  visibility: visible;
  background-color: #002238 !important;  /* (7.65) (Create Account button background) members background */
  color: rgb(255, 255, 255);
}

html.high-contrast h1.registerTitle{ /* Text Create an Account */
  color: rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast h1.registerTitle::after{ /* right line*/
  background-color: #471D00;
  visibility: visible;
}

html.high-contrast h1.registerTitle::before{ /*left line*/
  background-color: #471D00;
  visibility: visible;
}

/* Input styles (in create account) */ 

html.high-contrast input,
html.high-contrast textarea,
html.high-contrast select {
  visibility: visible;
  background-color: #ffffff; /* Darker background for input fields */
  color: #000000; /* White text */
  border: 1px solid #000000; /* Light border for inputs */
}

html.high-contrast input:focus,
html.high-contrast textarea:focus,
html.high-contrast select:focus {
  visibility: visible;
  background-color: #ffffff; /* Slightly lighter background when focused */
  color: #000000; /* White text */
  outline: none;
  border: 1px solid #000000; /* Bright border on focus */
}
 
html.high-contrast input::placeholder,
html.high-contrast textarea::placeholder {
  visibility: visible;
  color: #4e4e4e; /* Light gray placeholder */
}


/* Time table */

html.high-contrast button.export-csv-button, html.high-contrast button.export-pdf-button, html.high-contrast .editTaskAppearanceButton, html.high-contrast .done-button{ /* CSV+PDF export */
  background-color: #813400;
  visibility: visible;
  color: white;
  &:hover{
    background-color: #b35408;
    visibility: visible;
  }
}

/* WORK (TimeTable Inside) Default dark mode for all task divs */
html.high-contrast [data-task] {
  visibility: visible;
  background-color: #fff !important; /* Dark background */
  color: #000000 !important; /* Light text */
  outline: 0.5px solid #000000 !important; /* Darker outline */
}

/* Dates when hover on task bar */
html.high-contrast .task-tooltip {
  position: absolute;
  top: 15%;
  left: 100%;
  transform: translateX(2px);
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-size: 12px;
  visibility: visible;
}

html.high-contrast div#gantt-container{ /* Dates on table */
  color: rgb(0, 0, 0); 
  visibility: visible;
}


html.high-contrast #gantt-grid-container__time {
  display: grid;
  overflow-x: scroll;
  outline: 0.5px solid var(--color-outline);
  padding-bottom: 1px;
  scrollbar-color: #363636 #C7C7C7;
  scrollbar-width: thin;
  visibility: visible;
}

html.high-contrast div.modal-content{
  scrollbar-color: #363636 #C7C7C7;
  visibility: visible;
}

html.high-contrast .dropdown-menu.show{
  visibility: visible;
  background-color: #ffffff !important;  /*  (Team dropdown) Slightly lighter on hover */
}

html.high-contrast .dropdown-item{
  visibility: visible;
  background-color: #ffffff !important;  /*  (Team inside) Slightly lighter on hover */
  &:hover{
    background-color:#F0F0F0 !important;
  }
}


html.high-contrast span.project-name{ /* project name at top */
  color: #FFFFFF;
  visibility: visible;
}


html.high-contrast span.button-text{ /* project name at top */
  color: #FFFFFF;
  visibility: visible;
}

html.high-contrast button#pattern.dropdownBtnAdd.dropdown-toggle { /* Add Task button */
  background-color: #ffffff;
  color: #000000;
  visibility: visible;
}

html.high-contrast .task-duration { /* border around task bars*/
  border: 1.5px solid black !important; 
  visibility: visible;
}

html.high-contrast p.task-title-text{ /* task names */
  color: #000;
  visibility: visible;
}




/* Chart Cards */

html.high-contrast button.btn.chartNavButton.hiddenButton:hover{ /* Previous btn*/
  color: #fff;
  background-color: #0f4875 !important;
  visibility: visible;
}

html.high-contrast button.btn.chartNavButton:hover{
  color: #fff;
  visibility: visible;
}

html.high-contrast .btn.viewChartBtn{
  background-color: #002238 !important; /*  (View Chart) Dark background */
  color: #ffffff;
  visibility: visible;
  &:hover{
    background-color: #0f4875 !important;
    visibility: visible;
  }
  
}

html.high-contrast .card{
  visibility: visible;
  background-color: #ffc370 !important; /*  (chart cards) Dark background */
  border: 5px solid #402C12; /* Wider colored border */
}

html.high-contrast .projectBtn{  /* Icons background */
  background-color: transparent;
  visibility: visible;
}

html.high-contrast .btn-outline-primary { /* Pencil */
  background-color: transparent;
  visibility: visible;
  color: #000000; /* Highlighted color for outline buttons */
}

html.high-contrast h5.card-subtitle{ /* project name */
  color: #000;
  visibility: visible;
}


/* Dashboard */

html.high-contrast h1.navbarHeaderDash{ /* Dashboard text title */
  color: #FFFFFF;
  visibility: visible;
}


html.high-contrast {
  background-color: #fff  ;  /*  background */
  color: #FFFFFF  ;  /* Light text color */
  visibility: visible;
}

html.high-contrast .navbarDash{
  visibility: visible;
  background-color: #6B2B00 ;  /* WORK Dark navbar background */
}

html.high-contrast span.navBtnText{
  visibility: visible;
  color: #ffffff !important; /* WORK (text TO DO LIST, etc) Dark background */
}

/* Modify specific elements when dark mode is enabled */
html.high-contrast .navbar {
  visibility: visible;
  background-color: #6B2B00  ;  /* (NEED TO REMOVE) Dark navbar background */
  height: 11%;
  padding : 15px 0px;
  z-index: 99999  ;
}

html.high-contrast div.d-md-none.navBarBodySmall.mb-5{
  visibility: visible;
  background-color: #F0A53D; /* side bar that is on top when screen is small */
}

html.high-contrast #button {
  visibility: visible;
  background-color: transparent !important;  /* WORK (Sign out) Dark background */
  color: #FFFFFF  !important;  /* Light text */
}

html.high-contrast button.btn.chartNavButton{ /* Next button*/
  background-color: #002238;
  visibility: visible;
}

html.high-contrast #button:hover{ /* NavBar btns */
  color:#363636 !important; 
  visibility: visible;
}


html.high-contrast div.d-none.d-md-table-cell.container-lg.navBarBody.me-5.pb-5{
  background-color: #f3b35b !important;  /*  (NAV BAR ON SIDE) Dark background */
  visibility: visible;  
}


html.high-contrast{
  .btn.navBtn, .btn.navBtnSmall{
    background-color: #402C12 !important; /*  (background buttons) Dark background */
    color: #ffffff;
    visibility: visible;

    &:hover{
      background-color: #b35408 !important;
      visibility: visible;
    }
  }  
}




html.high-contrast h3, html.high-contrast h4, html.high-contrast h5, html.high-contrast h6 {
  color: #fff;  /* Ganttify & Login Text */
  visibility: visible;
}


/* Home */

html.high-contrast footer.footer{
  margin-bottom: -25px;
  visibility: visible;
}


html.high-contrast h1.navbarHeader{ /* Ganttify text title */
  color: #ffffff;
  visibility: visible;
}

html.high-contrast h1.animated-header-1{ /* Never Pay for Gantt charts again. */
  color:#000;
  visibility: visible;
}

html.high-contrast h1 { /* Streamline Your Project management */
  color: black;
  visibility: visible;
}


html.high-contrast .cta-button{
  background-color: #002238  !important;  /*  (button Get free Ganttify access)members background */
  color: #fff !important;  /* Light text */
  visibility: visible;
}

html.high-contrast .card-contentbox {
  background-color: #752F00 !important; /* (8.78) Dark background */
  color: #000 !important; /*  text */
  visibility: visible;
  border-radius: 0 0 9.5px 9.5px; /* Rounded bottom corners */
  padding: 15px; /* Optional: Adds spacing inside */
}

html.high-contrast h2.card-title{
  color: #ffffff;
  visibility: visible;
}

html.high-contrast p.card-subtext{
  color: #ffffff;
  visibility: visible;
}


html.high-contrast .footer{
  background-color: #6B2B00 !important;  /* WORK (footer) members background */
  color: #000000 !important;  /* Light text */
  visibility: visible;
}

html.high-contrast .landing-page-container{
  background-color: #fff !important;  /* WORK (footer) members background */
  color: #000000 !important;  /* Light text */
  visibility: visible;
}

html.high-contrast a.footer-link{
 color: #FFFFFF;
 visibility: visible;
}


html.high-contrast div.cards-container{
  background-color: #fff !important; 
  visibility: visible;
}


/* To Do Table */

html.high-contrast .todoTableBody{ /* Table background*/
  background-color: #fff;
  padding: 15px;
  color:rgb(0, 0, 0);
  visibility: visible;
}

html.high-contrast div.table-responsive-xxl{ /*Table scrollbar */
  scrollbar-color: #363636 #C7C7C7 !important; 
}

html.high-contrast .col1{
  background-color: #fff;
  color:rgb(0, 0, 0);
  visibility: visible;
} /* Due Date */

html.high-contrast .col2{
  background-color: #fff;
  color:rgb(0, 0, 0);
  visibility: visible;
} /* Task name */

html.high-contrast .col3{
  background-color: #fff;
  color:rgb(0, 0, 0);
  visibility: visible;
} /* Category */

html.high-contrast .col4{
  background-color: #fff;
  color:rgb(0, 0, 0);
  visibility: visible;
} /* Project */

html.high-contrast .col5{
  background-color: #fff;
  color:rgb(0, 0, 0);
  visibility: visible;
} /* Progress */


html.high-contrast .taskBtn {
  visibility: visible;
  background-color: #fff;/* Background for the button (...) */
  color: #000000 !important; /* White text for the button */
  border: none !important; /* Remove default border */
  padding: 5px 10px !important; /* Add padding for better clickability */
  cursor: pointer !important; /* Change cursor to pointer */
}


html.high-contrast .table td {
  padding: 3px 0px;
  visibility: visible;
}

html.high-contrast .table {
  visibility: visible;
  background-color: #fff !important; /* Dark background for table */
  color: #000000 !important; /* ------- under titles */
  border-collapse: collapse !important; /* Ensure proper spacing */
}


/* Table body rows */
html.high-contrast .table tbody tr {
  visibility: visible;
  background-color: #000000 !important; /* Dark background for rows */
}

html.high-contrast .table tbody tr:nth-child(even) {
  visibility: visible;
  background-color: #000000 !important; /* Slightly lighter dark background for even rows */
}



/* Login */

html.high-contrast  input#submitLogin.btn{ /* Login button */
  background-color: #002238;
  visibility: visible;
  color: #FFFFFF;
}

html.high-contrast  input#submitLogin.btn:hover{ /* Login button */
  color: #FFFFFF !important;
}

html.high-contrast h1.loginTitle{ /* Login title*/
  color: #000;
  visibility: visible;
}

html.high-contrast label.formLabel.mb-1{ /* Email & Password text */
  color: #000;
  visibility: visible;
}

html.high-contrast span{ /* Email & Password text and Time Line Dates*/
  color: #000000;
  visibility: visible;
}

html.high-contrast div.loginForm.text-center{
  background-color: #f3b35b;
  visibility: visible;
}

html.high-contrast div.card-header.loginFormHeader{
  background-color: #f3b35b;
  visibility: visible;
}

html.high-contrast label.formLabel.mb-1{
  background-color: #f3b35b;
  visibility: visible;
}

html.high-contrast label.formLabel.mb-1{
  background-color: #f3b35b;
  visibility: visible;
}

html.high-contrast a.forgot-password-link{
  background-color: #f3b35b;
  visibility: visible;
}

html.high-contrast div.row.text-center.mb-2{
  background-color: #f3b35b;
  visibility: visible;
}

html.high-contrast div.loginContainer.mt-5{ /* background*/
  background-color: #fff;
  visibility: visible;

}

html.high-contrast h1.loginTitle::after{
  background-color: #630D19;
  visibility: visible;
}

html.high-contrast h1.loginTitle::before{
  background-color: #630D19;
  visibility: visible;
}



/* Please Verify Your Email AND Verify Email */

html.high-contrast h1.verify-email-title{
  color: #000;
  background-color: #f3b35b;
  visibility: visible;
}

html.high-contrast div.verify-email-card{
  background-color: #f3b35b;
  visibility: visible;
}

html.high-contrast h3#appTitle{
  color: #ffffff;
  visibility: visible;
}

html.high-contrast #navBarDiv{
  background-color: #6B2B00 !important;
  visibility: visible;
}

html.high-contrast p.verify-email-description{
  background-color: #f3b35b;
  visibility: visible;
}

html.high-contrast div.verify-email-container{
  background-color: #fff;
  visibility: visible;
}

html.high-contrast a.btn-2.btn-link.mt-2{
  background-color: #f3b35b;
  color: #630D19;
  visibility: visible;
}

html.high-contrast a.btn-2.btn-link.mt-2:hover{
  background-color: #f3b35b;
  color: #630D19;
  visibility: visible;
}

html.high-contrast h1.verify-email-title::after{
  background-color: #630D19;
  visibility: visible;
}

html.high-contrast h1.verify-email-title::before{
  background-color: #630D19;
  visibility: visible;

}

html.high-contrast span.email-style{
  color: #660000;
  visibility: visible;
}




/* Reset Password */

html.high-contrast div.reset-password-container{ /* background */
  background-color: #ffffff;
}

html.high-contrast div.reset-password-form.text-center{ /* Reset Password modal back*/
  background-color: #f3b35b;
}

html.high-contrast button.btn.btn-primary{ /* Reset password btn */
  margin-left: 105px;
}






/* Forgot Password Page*/

html.high-contrast button.btn{
  background-color: #002238;
  visibility: visible;
}

html.high-contrast div.forgot-password-card{
  background-color: #f3b35b;
  visibility: visible;
}




/* Modals */

html.high-contrast .modal-content button{ /* Are u sure u want to delete */
    background-color: #402C12 !important;
    &:hover{
      background-color: #b35408 !important;
      visibility: visible;
    }
}


html.high-contrast button.btn.deleteModalBtn{ /* button Tes, delete my project */
  background-color: #002238 !important;
  visibility: visible;
}


html.high-contrast .modal-body {
  background-color: #fff;  /* Darker modal background */
  color: #000000;  /* Light text in modal */
  visibility: visible;
}

html.high-contrast .modal-header {
  background-color: #fff;  /* Dark modal header */
  color: #000000;
  visibility: visible;
}

html.high-contrast .modal-footer {
  background-color: #fff;  /* Dark footer */
  color: #ffffff;
  visibility: visible;
}


html.high-contrast button.btn.deleteModalBtn{ /* back for delete button*/
  background-color: #402C12;
  visibility: visible;
}

html.high-contrast button.btn.btn-primary{ /* Create Project button back*/
  background-color: #402C12;
  visibility: visible;
}

html.high-contrast #createProjectModalLabel{ /* Create a Project */
  color:#000000;
  visibility: visible;
}

html.high-contrast button.btn-close{ /* X button background */
  background-color:#fff;
  color: #000;
  visibility: visible;
}

html.high-contrast h5#changeProjectModalLabel.modal-title{
  color: #000;
  visibility: visible;
}

html.high-contrast button.btn-close{
  background-color: #813400 !important;
  color: #000;
  visibility: visible;
}


/* Text */

html.high-contrast p, html.high-contrast a, html.high-contrast li {
  visibility: visible;
  color: #000000;  /* (Forgot Password & all small text) Light color for text, links, and list items */
}

html.high-contrast h1.title{ /*titles in dashboard*/
  color: #000;
  visibility: visible;
}

html.high-contrast h5.btnLabel{ /* Delete & Restore*/
  color: #000;
  visibility: visible;
}

html.high-contrast h5.card-title{ /* project name */
  color:#000;
  visibility: visible;
}

html.high-contrast span.navBtnTextSmall{ /* project name */
  color:#fff;
  visibility: visible;
}

html.high-contrast #createProjectModalLabel{ /* Create a Project */
  color:#000000;
  visibility: visible;
}

html.high-contrast a#navbarDropdown.nav-link.dropdown-toggle{ /* Team */
  color: #ffffff;
  visibility: visible;
  &:hover{
    color:#363636 !important; 
  }
}


html.high-contrast button.btn-outline-primary2{ /* Edit Project Name */
  color:#fff;
  visibility: visible;
}

































